<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617349135372-7jfmm3m21uq4ne9hrj849ekfend0naui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617349135372-7jfmm3m21uq4ne9hrj849ekfend0naui</string>
	<key>API_KEY</key>
	<string>AIzaSyAyc1P5vld9FUyL9WR67D0ZzP1F4xZhP8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>617349135372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>con.harshvardhan.TicTacToe</string>
	<key>PROJECT_ID</key>
	<string>tictactoe-884e7</string>
	<key>STORAGE_BUCKET</key>
	<string>tictactoe-884e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617349135372:ios:7c405d924cbe1ff9458229</string>
	<key>DATABASE_URL</key>
	<string>https://tictactoe-884e7.firebaseio.com</string>
</dict>
</plist>